.alert.alert-warning
  %h4
    要显示的修改太多。
    .float-right
      - if current_controller?(:commit)
        = link_to "差异文件", project_commit_path(@project, @commit, format: :diff), class: "btn btn-sm"
        = link_to "邮件补丁", project_commit_path(@project, @commit, format: :patch), class: "btn btn-sm"
      - elsif current_controller?('projects/merge_requests/diffs') && @merge_request&.persisted?
        = link_to "差异文件", merge_request_path(@merge_request, format: :diff), class: "btn btn-sm"
        = link_to "邮件补丁", merge_request_path(@merge_request, format: :patch), class: "btn btn-sm"
  %p
    为保证性能只显示
    %strong #{diff_files.size} of #{diff_files.real_size}
    个文件。
