.nav-block.activities
  = render 'shared/event_filter'
  .controls
    = link_to dashboard_projects_path(rss_url_options), class: 'btn rss-btn has-tooltip', title: '订阅' do
      %i.fa.fa-rss

.content_list
= spinner
