- unless @project.pages_deployed?
  .card.bg-info
    .card-header
      配置网页
    .card-body
      %p
        请按照
        = succeed '.' do
          = link_to 'GitLab Pages 上的文档', help_page_path('user/project/pages/index.md'), target: '_blank'
        了解如何上传您的静态网页，并通过Gitlab提供服务。
