= form_for [@project.namespace.becomes(Namespace), @project, @protected_tag], html: { class: 'new-protected-tag js-new-protected-tag' } do |f|
  .card
    .card-header
      %h3.card-title
        保护一个标签
    .card-body
      = form_errors(@protected_tag)
      .form-group.row
        = f.label :name, class: 'col-md-2 text-right' do
          标签:
        .col-md-10.protected-tags-dropdown
          = render partial: "projects/protected_tags/shared/dropdown", locals: { f: f }
          .form-text.text-muted
            = link_to '通配符', help_page_path('user/project/protected_tags', anchor: 'wildcard-protected-tags')
            支持比如
            %code v*
            或
            %code *-release
            。
      .form-group.row
        %label.col-md-2.text-right{ for: 'create_access_levels_attributes' }
          允许创建:
        .col-md-10
          .create_access_levels-container
            = yield :create_access_levels

    .card-footer
      = f.submit '保护', class: 'btn-create btn', disabled: true
